.videocard {
  color: white;
  width: 500px;
  height: 400px;
  padding: 20px;
  transition: transform 100ms;
}

.videocard:hover {
  transform: scale(1.09);
}

.videocard > img {
  height: 300px;
  object-fit: contain;
  width: 500px;
}

.videocard > h2 {
  padding-top: 10px;
}

.stats {
  display: none;
  opacity: 0.8;
}

.videocard:hover > .stats {
  display: flex;
}

.stats {
  justify-content: space-between;
}

.MuiSvgIcon-root {
  font-size: 30px;
  cursor: pointer;
}

.btn {
  margin-right: 15px;
  margin-bottom: 15px;
  align-items: top;

}

.addbtn .endbtn{
  padding:0.5px;
  margin-bottom:5px;
}

.addbtn{
  cursor: pointer;
}